/* src/css/style.css */

/* 1. Base Styles and Variables (Highest priority) */
@import url("./_variables.css");
@import url("./_reset.css");

/* 2. Global Layout and Structure */
@import url("./_layout.css");

/* 3. Component Styles */
@import url("./_chatlist.css");
@import url("./_settings.css");
@import url("./_messages.css");